ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}

.verticalLine {
    height: 80px;
    width: 1px;
    background-color: grey;
}

ion-col {
    display: flex;
    align-items: center;
}

.monthDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .month {
        color: var(--ion-color-primary);
    }
    .day {
        font-size: xx-large;
    }
}

.events-content {
    .title {
        font-weight: bold !important;
    }
}

.cover-img {
    height: 30%;
    width: 100%;
}

.event-desc {
    background: #fff9f9;
    width: 100%;
    padding: 8px;
}

ion-card {
    height: fit-content;
}

.banner-img {
    object-fit: unset;
}

.pd-0 {
    padding: 0px;
}