<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Events at School</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="" *ngFor="let item of events">
        <div (click)="eventClicked(item.id,item.eventType)">
            <ion-card>
                <ion-row>
                    <ion-col size="12" class="pd-0">
                        <div *ngIf="item.image">
                            <img class="banner-img" [src]=item.image alt="">
                        </div>
                        <div *ngIf="!item.image">
                            <img class="banner-img" src="assets/imgs/banner.jpg" alt="">
                        </div>
                    </ion-col>
                    <div class="event-desc events-content">
                        <ion-col size="12">{{item.date.toDate()|date: 'MMM d, y'}}</ion-col>
                        <ion-col size="12" class="title">{{item.eventTitle}}</ion-col>
                        <ion-col size="12" class="message">{{item.eventDesc| slice:0:100}}...</ion-col>
                    </div>
                </ion-row>
            </ion-card>
        </div>
    </div>
</ion-content>