ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
ion-card {
    padding: 10px;
    margin: 15px;
}
.notify-date {
    color: var(--ion-color-primary);
}
.notify-title {
    font-weight: bold;
}
.notify-message{
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

