<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of notification$ | async">
    <ion-card (click)="goToNotificationDetail(item)">
      <ion-row>
        <ion-col size="12">
          <div class="notify-date">
            {{item.data.createdOn.toDate() | date}}
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="notify-title">
            {{item.data.title}}
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="notify-message">
            <div>
              {{item.data.message}}
            </div>
          </div>
        </ion-col>

      </ion-row>
    </ion-card>
  </div>
</ion-content>