<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Parents Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let message of message$ | async">
    <ion-row (click)="goToParentsMessageDetail(message)">
      <ion-col size="12">
        <div class="studClass-date">
          <div *ngIf="message.studentData | async as student">{{student.firstName}} {{student.lastName}}
            | <span *ngIf="message.classData | async as class">{{ class.className }}</span>
          </div>
          <div>
            {{message.data.createdOn.toDate() | date}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" class="mt-15">
        <div class="msg-title">
          {{message.data.msgTitle}}
        </div>
      </ion-col>
      <ion-col size="12" class="parents-message">
        {{message.data.msgDesc}}
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>