ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
ion-card {
    padding: 15px;
}
.studClass-date {
    display: flex;
    justify-content: space-between;
}
.studClass-date {
    color: var(--ion-color-primary);
}
.msg-title {
    font-weight: bold;
}
.mt-15 {
    margin-top: 15px;
}
.parents-message {
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
