<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{dairyTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="gray-scale" *ngIf="classRefId$ | async as item">
        <div>{{item.className}}</div>
        <div>{{dairy?.createdOn.toDate() | date}}</div>
      </div>
    </ion-col>
  </ion-row>
  <div class="dairy-content">
    <ion-row>
      <ion-col size="12">
        <div class="dairy-title">
          {{dairy?.title}}
        </div>
      </ion-col>
      <ion-col size="12" class="mt-15">
        <div class="dairy-message">
          {{dairy?.message}}
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>