ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
// ion-row {
//     padding: 15px;
// }
ion-col {
    padding: 0px;
}
.gray-scale {
    background-color: #f5f5f5;
    padding: 15px;
    // height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--ion-color-primary);
}
.left-aligned {
    text-align: left;
    color: var(--ion-color-primary);
}
.dairy-content {
    padding: 15px;
}
.mt-15 {
    margin-top: 15px;
}
.dairy-title {
    font-weight: bold;
}
.dairy-message {
    line-height: 1.6;
}
