ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}

ion-col {
    padding: 15px;
}

img {
    height: 100px;
    width: 100%;
    padding: 8px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.cover-img {
    width: 100%;
    height: 100%;
}

.img-area {
    width: 30%;
    padding: 0px;
}

.flex-between {
    align-items: center;
    overflow-wrap: initial;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 0px;
}

.pb-0 {
    padding-bottom: 0px;
}