<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{eventType}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12">
            {{eventMessage}}
        </ion-col>
        <div class="flex-between">
            <ion-col size="4" class="img-area" *ngFor="let item of eventsGallery;let i=index" (click)="goToGalleryImages(i)">
                <img [src]=item.path alt="">
            </ion-col>
        </div>
    </ion-row>
</ion-content>