<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Gallery Images</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides #slides [options]="slideOptions">
        <ion-slide *ngFor="let item of eventsGallery">
            <img [src]=item.path alt="">
        </ion-slide>
    </ion-slides>
</ion-content>