<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dairy Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dairyEntry">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" color="primary">Title</ion-label>
          <ion-input type="text" [(ngModel)]="dairyTitle"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <!-- <ion-item>
          <ion-label position="floating" color="primary">Enter More Info here...</ion-label>
          <ion-input type="number" [(ngModel)]="dairyInfo"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label position="floating" color="primary">Enter More Info here...</ion-label>
          <ion-textarea type="text" [(ngModel)]="dairyInfo"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col  size="12">
        <ion-button fill="solid" expand="full" (click)="addNewDairyEntry()">
          Add New Entry
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <img src="../../assets/imgs/tenor.gif" class="small-img">
      </ion-col>

    </ion-row>
  </div>
</ion-content>