ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
ion-card {
    padding: 15px;
}
.leave-createdDate {
    color: var(--ion-color-primary);
}
.studentName-class {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.leave-reason {
    font-weight: bold;
}
