<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Leave Requests</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-row *ngIf="(leaveRequests$ | async)?.length == 0">
    <ion-col col-12>
      <p>No Data to Display.</p>
    </ion-col>
  </ion-row>


  <ion-card *ngFor="let item of leaveRequests$ | async">
    <ion-row>
      <ion-col size="12">
        <div class="leave-createdDate">
          {{item.data.createdOn.toDate() | date }} @ {{item.data.createdOn.toDate() | date:"HH:mm"  }}
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="studentName-class">
          <div *ngIf="item.studentInfo | async as student">
            {{student.firstName}}&nbsp;{{student.lastName}}
          </div>
          <div *ngIf="item.classInfo | async as classdata">
            {{classdata.className}}
          </div>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="leave-reason">
          {{item.data.reasonForLeave}}
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="leave-dates">
          {{item.data.fromDate  | date}} - {{item.data.toDate  | date}}
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>