<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mark Attendance</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col size="12" class="grey-bg">
      <p>Attendance for {{className}}</p>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="attendanceTakenToday">
    <ion-col size="12">
      <div class="attendance-wrapper">
        <img src="assets/imgs/attendance.svg" />
        <p>Attendance for this class for today <br> has already been taken.</p>
        <p class="highlight">For more info on this, <br>Kindly contact the school Admin</p>
      </div>
    </ion-col>
  </ion-row>
  <div *ngIf="!attendanceTakenToday">
    <ion-row class="attendance-content" *ngFor="let student of students$ | async">
      <ion-col size="8">
        <div class="studName-toggle">
          <div class="text-left">{{student.data.firstName}}&nbsp;{{student.data.lastName}}</div>
          <div>
            <ion-toggle (ionChange)="markAttendance(student, $event)"></ion-toggle>
          </div>
        </div>
      </ion-col>
      <ion-col size="2">
        <div (click)="sendAbsentMessage(student, 'notification')">
          <ion-icon name="paper-plane" class="icon-green"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2">
        <div (click)="sendAbsentMessage(student, 'noNotification')">
          <ion-icon name="paper-plane" class="icon-red"></ion-icon>
        </div>
      </ion-col>
      <!-- <ion-col size="12">  
        <ion-row>
          <ion-col size="12" *ngIf="attendanceTaken">
            <ion-button fill="solid" expand="full" (click)="addAttendance()">
              Add Attendance
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngIf="attendanceTaken">
        <ion-button fill="solid" expand="full" (click)="addAttendance()">
          Add Attendance
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>