ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
.grey-bg {
    background-color: #f5f5f5;
    text-align: center;
}
.attendance-wrapper {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.studName-toggle {
    // width: 50%;
    // height: 50px;
    border-bottom: 1px solid #c3c2c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plane-icons {
    width: 50%;
    min-height: 50px;
    border: 1px solid black;
}
.attendance-content {
    padding: 15px;
    text-align: center;
}
ion-icon {
    margin-top: 11px;
}
.icon-red {
    color: red;
}
.icon-green {
    color: green;
}
.text-left {
    text-align: left;
}
