ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
ion-col {
    padding: 15px;
}
.pmDetail-head {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--ion-color-primary);
}
.detail-head {
    padding: 0px;
}
.pmDetail-message {
    // padding: 15px;
    line-height: 1.6;
}
.wd-100 {
    width: 100%;
}
.title{
    font-weight: bold;
}
.mt-10{
    margin-top: 10px;
}