<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="detail-head">
      <div class="pmDetail-head">
        <div *ngIf="studentDetail$ | async as student">
          {{student.firstName}} | {{student.lastName}}
        </div>
        <div *ngIf="classDetail$ | async as class">
          {{class.className}}
        </div>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="pmDetail-message">
        {{message}}
      </div>
    </ion-col>
  </ion-row>
  <ion-row>

  </ion-row>

  <ion-row *ngIf="replyMessageBlock">
    <ion-col size="12">
      <ion-button fill="solid" expand="full" (click)="replyToParents()">
        Reply
      </ion-button>
    </ion-col>

    <ion-row *ngIf="replyArea" class="wd-100">

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" color="primary">Enter Message</ion-label>
          <ion-textarea type="text" [(ngModel)]="replyMessage"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button fill="solid" expand="full" (click)="sendReply()">
          Send
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-row>

  <ion-row *ngIf="teacherMessage">
    <ion-col size="12">
      <div class="title">Your reply</div>
      <div class="mt-10">{{replyContent}}</div>
    </ion-col>
  </ion-row>


</ion-content>