<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dairy List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of diaryEntries$ | async">
    <ion-card (click)="goToDairyDetail(item)">
      <div class="studentClass-date">
        <div *ngIf='item.classRoom | async as class'>{{class.className}}</div>
        <div>{{item.data.createdOn.toDate() | date}}</div>
      </div>
      <div class="title mt-15">{{item.data.title}}</div>
      <div class="message mt-15">{{item.data.message}}</div>
    </ion-card>
  </div>
</ion-content>