ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
ion-card {
    padding: 15px;
}
.studentClass-date {
    display: flex;
    justify-content: space-between;
    color: var(--ion-color-primary);
}
.title {
    font-weight: bold;
}
.mt-5 {
    margin-top: 5px;
}
.mt-15 {
    margin-top: 15px;
}
.message {
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
