ion-button {
    --background-focused: var(--ion-color-secondary);
    --background-hover: var(--ion-color-secondary);
}
// .center-aligned {
//     text-align: center;
// }
ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // margin-top: 100px;
    height: 100vh;
}
