<ion-content>
  <ion-grid>
    <div class="grid-content"></div>
    <ion-row>
      <ion-col col-12 class="emblem-wrapper">
        <img src="assets/imgs/emblem.svg" class="emblem">
      </ion-col> 
    </ion-row>
    <div id='re-container'></div>
    <ion-row>
      <ion-col col-12>
        <p *ngIf="!showCodeInput" class="center-aligned">Welcome! <br> Login with your phone number.<br> The number that
          is registered with the school.</p>
        <p class="center-aligned" *ngIf="showCodeInput">
          We've sent you an OTP to the phone number you've entered. Enter the same below.
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!showCodeInput">
      <ion-col col-12>
        <ion-item>
          <ion-label position="floating" color="primary">Enter Phone Number</ion-label>
          <ion-input type="number" [(ngModel)]="mobileNumber"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!showCodeInput">
      <ion-col col-12>
        <ion-button fill="solid" expand="full" (click)="onOtpSend()">
          Send OTP
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="showCodeInput" class="indexed">
      <ion-col col-12>
        <ion-item>
          <ion-label position="floating" color="primary">Enter the OTP</ion-label>
          <ion-input type="number" [(ngModel)]="code"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showCodeInput">
      <ion-col col-12 class="center-aligned">
        <ion-button fill="solid" expand="full" (click)="verify()">
          Verify
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showCodeInput">
      <ion-col col-12 class="center-aligned">
        <p style="text-align: center;">Didn't receive OTP?</p>
        <ion-button (click)="goToEnterOtp()" fill="clear" expand="full">
          Resend
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>