<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <img src="assets/imgs/silverleaflogo.svg" alt="SilverLeaf">
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <!-- <ion-footer>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of footPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-footer> -->
      <ion-footer>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="goToPrivacyPolicy()">
              <ion-label>
                Privacy Policy
              </ion-label>
            </ion-item>
            <ion-item lines="none" (click)="signOut()">
              <ion-label>
                Sign Out
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>