<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dairy</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>


  <ion-row>
    <ion-col col12>
      <div class="dwrapper">
        <img src="assets/imgs/diary.svg">
        <p>Write the Diary for a class of Students. It could be a homework or a small note to the parents</p>
      </div>

    </ion-col>
  </ion-row>

  <!-- <ion-fab right bottom (click)="getDiaries()">
      <button ion-fab>
    <ion-icon name="list"></ion-icon>
  </button>
  </ion-fab> -->



  <!-- <ion-card>

      <ion-card-content>
          <ion-item>
              <ion-label>Select Class</ion-label>
              <ion-select (ionChange)="addDiaryEntry($event)">
                  <ion-option *ngFor="let class of class$ | async" value={{class.classId}}>{{class.data.className}}</ion-option>
              </ion-select>


          </ion-item>


      </ion-card-content>
  </ion-card> -->
  <div class="select-card">
    <ion-card>
      <ion-item>
        <ion-label>Select Class</ion-label>
        <ion-select (ionChange)="classSelected($event)">
          <ion-select-option *ngFor="let class of classes" value={{class.classId}}>{{class.data.className}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goToDairyList()">
      <ion-fab-button>
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content> 