ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}

.dwrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        text-align: center;
    }
}
.select-card {
    padding: 15px;
}
