<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About School</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <img [src]="storageRef" >
    </ion-col>
    <ion-col size="12">
      {{AboutSchool[0]?.aboutContent1}}
    </ion-col>
    <ion-col size="12">
      {{AboutSchool[0]?.aboutContent2}}
    </ion-col>
  </ion-row>
</ion-content>
