<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Social Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col col-12>
            <div class="btn-wrapper">
                <img src="assets/imgs/facebookbtn.svg" class="img-responsive" (click)="onFbButtonClick()">
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
