<ion-content padding>
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <div class="diag">
        <div class="slider-img">
          <img src="assets/imgs/slideimg1.svg" />
        </div>

        <div class="slider-title">
          <h3 class="center white-font big-title onboarding-title">
            Keep Track
          </h3>
        </div>

        <div class="slider-desc">
          <p class="center white-font">
            Keep track of your Kids' life at school on a regular basis. The app makes it very simple.
          </p>
        </div>
      </div>

    </ion-slide>


    <ion-slide>
      <div class="diag">
        <div class="slider-img">
          <img src="assets/imgs/slideimg2.svg" />
        </div>

        <div class="slider-title">
          <h3 class="center white-font big-title onboarding-title">
            Be notified
          </h3>
        </div>

        <div class="slider-desc">
          <p class="center white-font">
            Notifications at your fingertips. Be updated regularly on the attendance, events and happenings
            from the school
          </p>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="diag">
        <div class="slider-img">
          <img src="assets/imgs/slideimg1.svg" />
        </div>

        <div class="slider-title">
          <h3 class="center white-font big-title onboarding-title">
            Keep Track
          </h3>
        </div>

        <div class="slider-desc">
          <p class="center white-font">
            Keep track of your Kids' life at school on a regular basis. The app makes it very simple.
          </p>
        </div>
      </div>

    </ion-slide>

  </ion-slides>


  <ion-button fill="clear" class="skip-button" (click)="skip()"> {{skipText}} </ion-button>
</ion-content>