ion-content {
    --background: var(--ion-color-primary) !important;
    position: relative;
}

ion-slides {
    height: 100%;
    width: 100%;
}

ion-item {
    --background: transparent !important;
}

h3,
p,
h4 {
    color: #fff !important;
    width: 100%;
}

.slider-img {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-borderless .item-inner {
    border: none !important;
    ion-label {
        text-align: center;
    }
    img {
        max-width: 200px;
    }
    .center {
        text-align: center;
        width: 70vw;
        margin: 0px auto;
        line-height: 20px;
    }
    .onboarding-title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 2vh;
    }
}
ion-item {
    background-color: transparent !important;
}

.skip-button {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 8%;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
}
 
.swiper-pagination-bullet-active {
    background: #fff !important;
}
ion-button.skip-button {
    --color: #fff;
}

// .swiper-pagination-bullet {
//     margin-top: 100px;
// }
