ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
.attendance-img {
    text-align: center;
    padding: 30px;
}
.attendance-content {
    padding: 15px;
}
.p-15 {
    padding: 15px;
}
