<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12" class="attendance-img">
      <img src="../../../assets/imgs/attendance2.svg" alt="">
    </ion-col>
    <ion-col size="12" class="attendance-content">
      Select the class you want to take attendance from the dropdown below.
    </ion-col>
    <!-- <ion-col size="12">

    </ion-col> -->
    <ion-col size="12" class="p-15">
      <ion-card>
        <ion-item>
          <ion-label>Select Class</ion-label>
          <ion-select [(ngModel)]="toppings" (ionChange)="takeAttendance($event)">
            <ion-select-option *ngFor="let class of class$ | async" value={{class.classId}}>{{class.data.className}}
              <!-- <ion-select-option>Nursey -->
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>