ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
.calender-head {
    height: 50px;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-icon {
    height: 20px;
    width: 20px;
}

.academicCalendar {
    padding: 15px;
    border-bottom: 1px solid grey;
}
.monthDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-primary);
    .day {
        font-size: xx-large;
    }
}
.verticalLine {
    height: 60px;
    width: 3px;
    background-color: grey;
}
.events-content {
    display: flex;
    flex-direction: column;
    .title {
        font-weight: bold;
    }
}
.contents-col {
    display: flex;
    align-items: center;
}
