<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Academic Calendar</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="calender-head">
    <div class="yearchangeIcons" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      <!-- <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> -->
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    <div>
      {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
    </div>
    <div class="yearchangeIcons" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      <!-- <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon> -->
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
  </div>

  <div class="academicCalendar" *ngFor="let item of eventsList">
    <ion-row>
      <ion-col size="2">
        <div class="monthDay">
          <div class="month">{{item?.month}}</div>
          <div class="day">{{item?.day}}</div>
        </div>
        </ion-col>
        <ion-col size="1">
          <div class="verticalLine"></div>
        </ion-col>
      <ion-col size="9" class="contents-col">
        <div class="events-content">
          <div class="title">{{item?.title}}</div>
          <div class="message">{{item?.message}}</div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>