ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
// ion-row {
//     padding: 15px;
// }
.notify-date {
    color: var(--ion-color-primary);
    background-color: #f5f5f5;
    padding: 20px;
}
.notify-title {
    font-weight: bold;
    padding: 15px;
}
.notify-message {
    line-height: 1.6;
    padding: 15px;
}
ion-col {
    padding: 0px;
}
