<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{notificationTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="notification$ | async as notify">
    <ion-col size="12">
      <div class="notify-date">
        {{notify.createdOn.toDate() | date}}
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="notify-title">
        {{notify.title}}
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="notify-message">
        {{notify.message}}
      </div>
    </ion-col>
  </ion-row>
</ion-content>