ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff !important;
}
.profile-img-wrapper {
    min-height: 25vh;
    padding: 15px; 
    background-color: #f4f4f4;
    // padding-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        max-width: 25vw;
        border-radius: 50%;
    }

    ion-grid {
        padding: var(--ion-grid-padding, 0px);
    }

    h4 {
        margin: 0px;
        margin-top: 5px;
    }
    p {
        margin-top: 5px;
        text-align: center;
    }
}
button.mainmenu-button {
    position: absolute;
    left: 0px;
    z-index: 10;
    color: #fff;
    font-size: 1.8em;
    margin: 0px;
    width: 20px;
    top: 10px;
    left: 5px;
}
.menugrid {
    p {
        color: #000 !important;
        font-size: 12px !important;
    }
}
.mainbanner {
    height: auto !important;
}
.menulist {
    p {
        margin: 0px;
        text-align: center;
        font-weight: 500;
        text-transform: none;
        font-size: 12sp;
        color: #000;
        letter-spacing: 0px;
    }
    .menu-button {
        padding: 0px !important;
        background-color: #fff !important;
        width: 100%;
        height: 100px;
        box-shadow: none;
        margin: 0px;
        img {
            min-width: 40px;
            max-width: 58px;
        }
    }
}

.graybg {
    background-color: #f5f5f5;
    min-height: 200px;
    padding: 8px !important;
    ion-card-header {
        padding: 15px;
        padding-bottom: 5px;
        color: var(--ion-color-primary);
        font-weight: 500;
    }
    .item-inner {
        padding-right: 0px !important;
    }
    button {
        font-size: 1.2rem;
        text-transform: none;
        height: 2rem;
        text-align: left;
        padding-left: 0px;
        span {
            justify-content: left;
            padding-right: 0px;
        }
    }
}
.card-title-md {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0px;
}
.card-content-md {
    padding: 10px;
}

ion-scroll[scrollX] {
    white-space: nowrap;
    min-height: 15em;
    overflow: hidden;
    .scroll-item {
        display: inline-block;
        max-width: 90%;
        margin: 2px;
        ion-card-title {
            white-space: normal;
        }
    }
}
/* Hide ion-content scrollbar */
::-webkit-scrollbar {
    display: none;
}
ion-item.simple {
    padding: 0px;
    background-color: transparent !important;
}
.label-md {
    margin: 13px 8px 13px 8px;
}
.scroll-item {
    margin-right: 10px !important;
}
.noPadding {
    padding: 0px;
}
ion-grid {
    padding: 0px;
}
