<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid no-padding>
    <ion-row class="no-padding">
      <ion-col class="noPadding" no-padding size="12" *ngIf="staff$ | async as staff">
        <div class="container profile-img-wrapper center-aligned" *ngIf="staff.data.image">
          <img src={{staff.data.image}} class="img-responsive circular-image" alt="Image">
          <ion-row>
            <ion-col size="12" class="dashboard-profile">
              <h4 class="titles center-aligned no-margin-top">{{staff.data.firstName}} {{staff.data.lastName}}</h4>
              <p class="center-aligned no-margin-top" *ngIf="staff.classInfo | async as class">{{class.className}}
              </p>
            </ion-col>
          </ion-row>



        </div>
      </ion-col>


    </ion-row>
  </ion-grid>


  <ion-grid no-padding class="menugrid">
    <ion-row>


      <ion-col size="4" class="menulist" no-padding>
        <ion-button (click)="goToDairy()" class="menu-button" fill="clear">

          <ion-row>

            <ion-col size="12">
              <img src="assets/imgs/schooldiary.svg" alt="School Diary">
            </ion-col>
            <ion-col size="12">
              <p>Dairy
                <br> Entries</p>
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>



      <ion-col size="4" class="menulist" no-padding>
        <ion-button (click)="goToNotifications()" class="menu-button" fill="clear">

          <ion-row>

            <ion-col size="12">
              <img src="assets/imgs/notification.svg" alt="Notification Panel">
            </ion-col>
            <ion-col size="12">
              <p> Notification<br> panel</p>
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>


      <ion-col size="4" class="menulist" no-padding>

        <ion-button (click)="goToParentsMessage()" class="menu-button" fill="clear">


          <ion-row>

            <ion-col size="12">
              <img src="assets/imgs/woman-avatar.svg" alt="Contact Faculty">
            </ion-col>
            <ion-col size="12">
              <p> Parents<br> Message</p>
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>


      <ion-col size="4" class="menulist" no-padding>

        <ion-button (click)="goToAttendance()" class="menu-button" fill="clear">


          <ion-row>

            <ion-col size="12">
              <img src="assets/imgs/people.svg" alt="News & Events">
            </ion-col>
            <ion-col size="12">
              <p> Take<br> Attendance</p>
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>


      <ion-col size="4" class="menulist" no-padding>

        <ion-button (click)="goToAboutSchool()" class="menu-button" fill="clear">

          <ion-row>

            <ion-col size="12">
              <img src="assets/imgs/library.svg" alt="About the School">
            </ion-col>
            <ion-col size="12">
              <p> About the<br> School</p>
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>


      <ion-col size="4" class="menulist" no-padding>


        <ion-button (click)="goToAcademicCalendar()" class="menu-button" fill="clear">


          <ion-row>

            <ion-col size="12">
              <img src="assets/imgs/calendar.svg" alt="Academic Calendar">
            </ion-col>
            <ion-col size="12">
              <p> Academic<br> Calendar</p>
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>


      <ion-col size="4" class="menulist" no-padding>


        <ion-button (click)="goToLeaveRequests()" class="menu-button" fill="clear">
          <ion-row>

            <ion-col size="12">
              <img src="assets/imgs/leave.svg" alt="Leave Request">
            </ion-col>
            <ion-col size="12">
              <p> Leave<br> Request</p>
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>


      <ion-col size="4" class="menulist" no-padding>

        <ion-button (click)="goToEvents()" class="menu-button" fill="clear">



          <ion-row>

            <ion-col size="12">
              <img src="assets/imgs/event.svg" alt="Leave Request">
            </ion-col>
            <ion-col size="12">
              <p> Event<br> Gallery</p>
            </ion-col>
          </ion-row>
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>






</ion-content>